#georgianFlag {
   width:600px;
   height:450px;
   border:1px solid #999;
   position: relative;
   margin: 0 auto;
   background:white;

   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
}
.gradient {
   position: absolute;
   width: 80%;
   height: 80%;
   z-index:5;
   bottom:0;
   right:0;

   -webkit-border-top-left-radius: 999px;
   -moz-border-radius-topleft: 999px;
   border-top-left-radius: 999px;
   
   background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 23%, rgba(255,255,255,0.40) 24%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(23%,rgba(255,255,255,0)), color-stop(24%,rgba(255,255,255,0.40)), color-stop(57%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.40) 24%,rgba(255,255,255,0) 57%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.40) 24%,rgba(255,255,255,0) 57%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.40) 24%,rgba(255,255,255,0) 57%,rgba(255,255,255,0) 100%); /* IE10+ */
   background: linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.40) 24%,rgba(255,255,255,0) 57%,rgba(255,255,255,0) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.horizontal {
   width:600px;
   height:60px;
   background: red;
   position: absolute;
   top:195px;
}
.vertical {
   width:60px;
   height:450px;
   background: red;
   position: absolute;
   left:270px;
}

.crosscont {
   width:120px;
   height:120px;
   position: absolute;
   border:1px dashed transparent;
}
.crosscont.left {
   left:60px;
}
.crosscont.top {
   top:30px;
}
.crosscont.right {
   right:60px;
}
.crosscont.bottom {
   bottom:30px;
}

.cross {
   width:40px;
   height:40px;
   top:40px;
   background: red;
   position: absolute;
}

.cross:after {
   content:"";
   width:40px;
   height:8px;
   border-radius: 0 0 10px 300px / 0 0 10px 100px;
   position: absolute;
   top:0px;
   background-color:white;
}
.cross:before {
   content:"";
   width:40px;
   height:8px;
   border-radius: 300px 10px 0 0 / 100px 10px 0 0;
   position: absolute;
   bottom:0px;
   background-color:white;
}

.cross.rotated {
   -webkit-transform-origin: 60px 20px;
}

.cross.rotated.top {
   -webkit-transform:rotate(90deg);
}

.cross.rotated.right {
   -webkit-transform:rotate(180deg);
}

.cross.rotated.bottom {
   -webkit-transform:rotate(270deg);
}

.crosscont .center {
   width:40px;
   height:24px;
   background: red;
   position: absolute;
   left:40px;
   top:48px;
}
.crosscont .center.y {
   -webkit-transform:rotate(90deg);
}